.vs
.idea
.vscode
Release.win32*
Debug.win32*
Standalone.win32
/frameworks/cocos2d-x/tools/simulator/libsimulator/proj.win32/libsimulator.vcxproj.user
/frameworks/cocos2d-x/external/recast/proj.win32/librecast.vcxproj.user
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.win32/libluacocos2d.vcxproj.user
/frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/libSpine.vcxproj.user
/frameworks/cocos2d-x/cocos/2d/libcocos2d.vcxproj.user
/frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/libcocos2dx.iml
/frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build
/frameworks/runtime-src/proj.android/app/assets
/frameworks/runtime-src/proj.android/app/build
/frameworks/runtime-src/proj.android/app/release
/frameworks/runtime-src/proj.android/app/.cxx
/frameworks/runtime-src/proj.android/app/games.iml
/frameworks/runtime-src/proj.android/proj.android.iml
/out
/UserDefault.xml
/GAME_LOG.txt
/CMakeSettings.json
/CMakeSettings.json
/frameworks/runtime-src/proj.android/app/debug
/CMakeSettings.json
/Release.win32
/Standalone.win32
*xcuserdata
.DS_Store
Thumbs.db
*.moved-aside
*.xcuserstate
*.xccheckout
/update_home/YN/*.zip
/src/.vscode
/tools/package_manage/game/assets

/ceshi_release/update
/update_home/ceshifish
/src/Default
cmake-build-debug/
*/build-mac/
*/build-ios*/

/src/hall/res/test/
/src/workspace.code-workspace
/jk2.jks

/src/hall/res/studio/test/
/majiaTools
/src/resources/games
tools/win32_installer/fish2_setup.exe
backups

__pycache__
*.pyc
langs
/tools/files_encrypter/out
fafafa_studio/cocosstudio/casino_common/res/fafafa/.Casino_C_PList.Dir/
fafafa_studio/cocosstudio/casino_common/res/fafafa/.fafafaImages_PList.Dir/
fafafa_studio/cocosstudio/casino_common/res/fafafa/.ximaResources_PList.Dir/
/fafafa_studio/cocosstudio/casino_common/res/fafafa/.CountingRotation_PList.Dir
